body{

    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    color:#222;

}

.hero{

    background:#111;
    color:white;
    text-align:center;
    padding:80px 20px;

}

.hero h1{

    font-size:40px;

}

.hero p{

    font-size:20px;
    margin:20px 0;

}

.boton{

    background:#25D366;
    color:white;
    padding:15px 25px;
    text-decoration:none;
    border-radius:8px;
    display:inline-block;

}

.productos{

    padding:50px 20px;
    text-align:center;

}

.contenedor-productos{

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;

}

.producto{

    background:white;
    width:300px;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);

}

.producto img{

    width:100%;
    height:250px;
    object-fit:cover;

}

.producto h3{

    margin:15px 0;

}

.producto p{

    padding:0 15px 20px;

}

.nosotros{

    background:white;
    padding:50px 20px;
    text-align:center;

}

footer{

    background:#111;
    color:white;
    text-align:center;
    padding:20px;

}

.whatsapp{

    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    width:60px;
    height:60px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    font-size:30px;

}
